<div itemscope itemtype="http://schema.org/Product" id="top" class="product-single">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="container">
    <div class="section-header--breadcrumb">
      {% include 'breadcrumb' %}
    </div>
  </div>
	
  <div class="section-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-xl-8">
          <div class="single-image">

            {% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}
              <div class="product-image">
              <!-- START MAGICZOOMPLUS IMAGES -->{% include 'magiczoomplus' %}<!-- END MAGICZOOMPLUS IMAGES -->
              </div>
            {% else %}
              <div class="grid">
                <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
                  {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                  <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
                </div>

                <div class="grid__item one-fifth">
                  <ul class="grid product-single__thumbnails" id="ProductThumbs">
                    {% for image in product.images %}
                      {% unless (image.alt contains "lifestyle") %}
                        <li class="grid__item">
                          <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                            <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                          </a>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}

            {% if settings.product_image_zoom_type == 'lightbox' %}
            <ul class="gallery" class="hidden">
              {% for image in product.images %}
                {% unless (image.alt contains "lifestyle") %}
                <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
                {% endunless %}
              {% endfor %}
            </ul>
            {% endif %}

          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="single-content">
            {% comment %}
              <h3 itemprop="brand">{{ product.vendor }}</h3>
            {% endcomment %}
            <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              {% assign variant = product.selected_or_first_available_variant %}

              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

              <div class="product-single__prices">
                <span id="ProductPrice" class="product-single__price" itemprop="price">
                  {{ product.price | money }}
                </span>

                {% if product.compare_at_price > product.price %}
                  <s id="ComparePrice" class="product-single__sale-price">
                    {{ product.compare_at_price_max | money }}
                  </s>
                {% endif %}
              </div>
              
              <div class="product-description" itemprop="description">
                <article class="article"> {%  assign article_words = product.description %} {%assign wordcount = article_words | size %}
                  {% if wordcount > 200 %}
                  {{ product.description | strip_html | truncate: 200 }}
                  <a href="#tab-1" class="readmore scroll-to">Read More <i class="fa fa-angle-down"></i></a>
                  {% else %}
                  {{ product.description }}
                  {% endif %}
                </article>
              </div>
             
              <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit>
                <!-- Thirty Four Code -->
                {% if product.available and product.variants.size > 1 %}
                  {% include 'swatch' with 'Color' %}
                {% endif %}
                
                <div id="options">
                  {% if product.options.size > 1 %}
                    <div class="row">
                      <div class="col-sm-6">
                        <select name="id" id="product-select" class="product-single__variants">
                          {% for variant in product.variants %}
                          
                            {% if variant.available %}

                              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                            {% else %}
                              <option disabled="disabled">
                                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-6">
                        <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
                          <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                          <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                          <div class="soldout">Sold out</div>
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <select name="id" id="product-select" class="product-single__variants">
                      {% for variant in product.variants %}
                      
                        {% if variant.available %}

                          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                        {% else %}
                          <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                          </option>
                        {% endif %}
                      {% endfor %}
                    </select>

                    <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
                      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                      <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                      <div class="soldout">Sold out</div>
                    </div>
                  {% endif %}
                </div>
    			
                <div id="actions">
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="submit" name="add" id="add-to-cart" class="btn btn-acc">
                        <span id="add-to-cart-text">{{ 'products.product.add_to_cart' | t }}</span>
                      </button>
                    </div>
                    <div class="col-sm-12">
                      {% include 'wishlist-pro' %}
                    </div>
                  </div>
                </div>
              </form>

              

              {% if settings.social_sharing_products %}
                {% include 'social-sharing' %}
              {% endif %}
            </div>

    		    {% include 'productTabs' %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="displayTabs">
  	<div id="tab-1" class="tab-content current">
  		<div class="product-description rte section-inner" itemprop="description"> 
        <div class="container">
           <h1 itemprop="name">{{ product.title }}</h1>
            {% if product.description %}
            {{ product.description }}
      			{% else %}
                <p>Sorry, No description available yet.</p>
      			{% endif %}
        </div>
      </div>
  	</div>
  	<div id="tab-2" class="tab-content">
    	<div class="section-inner">
        <div class="container">
          {% include 'size-chart' %}
        </div>
      </div>
    </div>
  	<div id="tab-3" class="tab-content product-reviews">
      <div class="container">
  		  <div id="product-reviews"></div>
      </div>
  	</div>
    <script>
      jQuery(function($){
        var ProductReview = require('scripts/ProductReview.jsx');
        ProductReview.initialize("{{product.id}}");
      });
    </script>
  </div>

  <div class="product-slider content-relative" id="product-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
      {% for image in product.images %} 
        {% if (image.alt contains "lifestyle") %}
        <div class="swiper-slide">
          <div class="image text-center"><img class="content-centered-md-down" src = "{{ image.src | product_img_url: '2048x' }}" /></div>
        </div>
        {% endif %}
      {% endfor %}
      </div>


      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      
      <!-- If we need navigation buttons -->
      <div class="swiper-buttons content-centered-vertical">
        <div class="container">
          <div class="content-relative">
            <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
            <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <script>
  App.resize = function()
  {
    var bottom = $(".MagicToolboxSelectorsContainer").height();
    $('.MagicToolboxContainer a.MagicZoomPlus').css("height", "auto");
    $('.viewport-xl .MagicToolboxContainer a.MagicZoomPlus, .viewport-lg .MagicToolboxContainer a.MagicZoomPlus').height($('.single-content').height()-bottom-50);
  }

  var thumbnailSwiper = null;
  var slidesPerViewCount = 8;

  function slidesPerView()
  {
    slidesPerViewCount = $('.MagicToolboxSelectorsContainer .swiper-container').width() / 120;
  }

  $(window).on('resize', function(){
    slidesPerView();
  });
  slidesPerView();

  jQuery(function($){
    if(('#product-slider .swiper-slide').length > 0){
      var lifestyleSwiper = new Swiper ('#product-slider .swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        
        // If we need pagination
        pagination: '#product-slider .swiper-pagination',
        paginationClickable: true,

        // Navigation arrows
        nextButton: '#product-slider .swiper-button-next',
        prevButton: '#product-slider .swiper-button-prev'
      });
    }else{
      $('#product-slider').hide();
    }
  });


  $('body').on('viewport:updated', function(){
    if(thumbnailSwiper!=null)
    {
      thumbnailSwiper.destroy(true, true);
    }

    thumbnailSwiper = new Swiper('.MagicToolboxSelectorsContainer .swiper-container', {
      slidesPerView: slidesPerViewCount,
      spaceBetween: 0,
      nextButton: '.MagicToolboxSelectorsContainer .swiper-button-next',
      prevButton: '.MagicToolboxSelectorsContainer .swiper-button-prev'
    });


    if(App.viewport.is('>=md'))
    {
      // TODO when viewport >=md
    }

  });
  </script>

  <div class="related_products">
    <div class="container">
    {% if settings.product_related_enable %}
      <div id="awarp-product-related" data-id="{{ product.id }}" data-collection_id="{{ collection.id }}" data-collection_handle="{{ collection.handle }}"></div>
    {% endif %}
    </div>
  </div>
  
  <div class="text-xs-center content-after content-relative screen-to-top-block">
      <a href="#top" class="icon-round content-centered-horizontal" id="screen-to-top"><i class="fa fa-angle-up"></i></a>
  </div>
</div>
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
  
    for(var i=0; i<variant.options.length; i++)
    {
      jQuery('#selected-option-' + i).html(variant.options[i]);
      jQuery('.swatch[data-option-index=' + i + '] .swatch-element').removeClass('active');
      jQuery('.swatch[data-option-index=' + i + '] .swatch-element[data-value="'+ variant.options[i] +'"]').addClass('active');
    }

    if(variant.available)
    {
      jQuery("#options .soldout").hide();
    }else{
      jQuery("#options .soldout").show();
    }

    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
        add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
        sold_out : "{{ 'products.product.sold_out' | t }}",
        unavailable : "{{ 'products.product.unavailable' | t }}"
      }
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('product-select', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="product-select-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>

{% include 'linked-options' %}

{% comment %}
<script type="text/javascript">
  $('article').readmore({
    moreLink: '<a href="#">Read More</a>',
    maxHeight:62,
    afterToggle: function(trigger, element, expanded) {
      if(! expanded) { // The "Read Less" link was clicked
        $('html, body').animate( { scrollTop: element.offset().top }, {duration: 50 } );
      }
    }
  });
</script>

{% endcomment %}