<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->


  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'app.css' | asset_url | stylesheet_tag }}
  
  {% include 'google-fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}

  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <script type="text/javascript" src="https://d3slyfs22ftrln.cloudfront.net/collection-filter-v1.js?shop={{shop.permanent_domain}}"></script>
  {{ 'readmore.js' | asset_url | script_tag }}
  {{ 'readmore.min.js' | asset_url | script_tag }} 

  
  <script type="text/javascript">
  $(document).ready(function() {
    $(".scroll").click(function(event) { 
       $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1500); 
    });
  });
  </script>
  
  {% include 'magiczoomplus.headers' %}
  {{ 'swatchesnew.css' | asset_url | stylesheet_tag }}

  <script type="text/javascript">
    var app = require("scripts/App.js");

    $(function(){
      var cart = {{ cart | json }};

      {% for item in cart.items %}
        cart.items[{{ forloop.index | minus: 1 }}].product_options = {{item.product.options | json}};
      {% endfor %}

      CartJS.init(cart, {
          "dataAPI": false,
          "requestBodyClass": "loading"
      });

      app.initialize();
    });
  </script>

  {% include 'buddha-megamenu-before' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% include 'mobile-nav' %}

  <div id="page" canvas="container">
    {% include 'header' %}

    <main class="wrapper main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% include 'footer' %}

    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}
    {{ 'theme.js' | asset_url | script_tag }}

    {% if template contains 'product' %}
      {% if settings.product_image_zoom_type == 'lightbox'  %}
        {{ 'magnific-popup.min.js' | asset_url | script_tag }}
      {% elsif settings.product_image_zoom_type == 'zoom-in' %}
        {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
      {% endif %}
    {% endif %}

    {% if template contains 'article' or template contains 'product' %}
      {% if settings.social_sharing_blog or settings.social_sharing_products %}
        {{ 'social-buttons.js' | asset_url | script_tag }}
      {% endif %}
    {% endif %}

    {% include 'buddha-megamenu' %}
    
    <!--Swatch Script-->
    <script>
    jQuery(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
      });
    });
    </script>
    <script src="//www.codeblackbelt.com/js/modules/cool-image-magnifier/main.min.js?shop=abovecategory.myshopify.com"></script>
  </div>
</body>
</html>
