
<!-- Filter Menu brought to you by Shopify Power Tools -->
{% assign pt_refine_text = settings.pt_refine_text | default: 'Refine' %}
{% assign pt_clear_text = settings.pt_clear_text | default: 'clear' %}
{% assign pt_view_all_text = settings.pt_view_all_text | default: 'view all' %}
{% assign pt_collection_text = settings.pt_collection_text | default: 'Collection' %}
<style type="text/css">
{{ shop.metafields.pt_filter_css['system'] }}
{{ shop.metafields.pt_filter_css['user'] }}
</style>
<div class="heading-results clearfix">
    <div class="numberOfResult pull-left hidden-md-down">{{ collection.products_count }} Results</div>

    <div class="filter-menu filter-selected-{{ collection.handle }}{% for tag in current_tags %} filter-selected-{{ tag | handleize }}{% endfor %} clearfix pull-left">
      {% unless collection.handle != nil and template contains 'collection' %}

        {% for menu_header in shop.metafields.pt_filter_menu %}
          {% assign menu_items = menu_header.last | split: ',' %}
          {% assign header_handle = menu_header.first | split: '-' %}
          {% assign header_handle = menu_header.first | replace: header_handle.first, '' %}
          <span class="nav{{ header_handle }}">
              {% for menu_item in menu_items %}
                {% assign filter_collection = collections[menu_item] %}
                {% if filter_collection and filter_collection.all_products_count != '' and filter_collection.all_products_count > 0 and filter_collection.title != nil and filter_collection.title != '' %}
                  <a href="/collections/{{ menu_item }}" title="{{ filter_collection.title | escape }}"><i class="check-icon"></i> {{ filter_collection.title | escape }}</a>{% unless current_tags %}<span class="collection-count">({{ filter_collection.all_products_count }})</span>{% endunless %}
                {% endif %}
              {% endfor %}
          </span>    
        {% endfor %}

      {% else%}

        {% for tag in current_tags %}
          {{ '<i class="check-icon"></i> ' | append: tag | link_to_remove_tag: tag }}
        {% endfor %}
        {% if current_tags.size > 0 %}
        <span>
          <a href="/collections/{{ collection.handle }}" class="remove-all-filters ac-link">Remove All Filters</a>
        </span>
        {% endif %}
         
      {% endunless %}  
    </div>

</div>