{% assign slider_enabled = true %}
<div class="flexslider">
  <ul class="slides">
    {% for i in (1..6) %}
      {% capture slide %}slide_{{ i }}{% endcapture %}
      {% capture slide_link %}slide_{{ i }}_link{% endcapture %}
      {% capture slide_img %}slide_{{ i }}.jpg{% endcapture %}
      {% capture slide_alt %}slide_{{ i }}_alt{% endcapture %}
      {% capture slide_content %}slide_{{ i }}_content{% endcapture %}
      {% capture slide_class %}slide_{{ i }}_class{% endcapture %}
      {% if settings[slide] %}
  <li>
 {{ slide_img | asset_url | img_tag: settings[slide_alt] }}
<div class="caption {{ settings[slide_class] }}"> {{ settings[slide_content] }}  <a href="{{ settings[slide_link] }}" class="slide-link">READ MORE</a></div>
        </li>
      {% endif %}
         {% endfor %}
  </ul>
</div>
